.row {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

input {
    width: 180px;
}